
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
  }
  #canvas-container {
    
    border: 5px solid black;
    width: 500px;
    height: 500px;
  }
  
  .buttons{
    display: flex;
  }

  
  
  .btn{
    border: 1px solid red;
    padding: 5px;
    margin: 5px;
    
  }
  
  .btn-selected{
    border:1px solid blue;
  }
  #color-palette{
    display:flex;
    border: 1px dashed black;
    padding: 5px;
  }
  .color-btn{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
  }
  .color-btn-selected{
    border: 5px solid blue;
    margin: 5px;
    padding: 5px;
  }